* {
    margin: 0;
    font-family: arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f3e33;
    color: rgb(240, 235, 235);
    display: flex;
    align-items: center;

}

/* box1 */

.navlogo {
    height: 50px;
    width: 110px;
    padding: 1px 8px 0px 6px;
}

.logo {
    background-image: url("amazon.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    padding: 0 9px 0 9px;
}

.border {
    border: 1.5px solid transparent;

}

.border:hover {
    border: 1.5px solid white;
}

/* box2 */

.add1 {
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 17px;
}

.add2 {
    font-size: 1rem;
    font-weight: bolder;
    color: #ffffff;
    margin-left: 1px
}

.add-icon {
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}

/* box3 */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 5px;
    padding: 10px 4px 10px 3px;

}

.search-select {
    color: #0f1111;
    background-color: #fbfafae1;
    width: 56px;
    height: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    padding-left: 5px;
    font-size: 14px;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    font-size: 1.4rem;
    width: 45px;
    height: 42px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 5, 146);
}

.search-select:hover {
    border: 2px solid #fbfafae1;
}

.search-input:hover {
    border: 2px solid rgb(235, 96, 200);
}

/* box4 */

span {
    font-size: 12px;
    padding: 0 4px 8px 9px;
}

.nav-second {
    font-size: 14px;
    font-weight: bolder;
    padding: 0 4px 8px 9px;
}

.cart {
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 8px 4px 8px 9px;
    height: 28px;
    width: 41px;
}

.cart-text {
    font-size: 0.85rem;
    font-weight: 700;
    margin-top: 10px;

}

/* second navbar */
.navbar2 {
    display: flex;
    align-items: center;
    background-color: #0b5a4a;
    height: 40px;
    color: white;
    padding: 0 10px 0 10px;
    font-size: 16px;
    font-weight: 700;
}

.panel-ops {
    display: flex;
    width: 45%;
    font-size: 16px;
    /* justify-content: space-evenly; */
    padding: 0 14px 0 14px;
}

p {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

i {
    margin-right: 6px;
}

/* hero section */

.hero-section {
    background-image: url("box1.jpg");
    background-size: cover;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message {
    background-color: white;
    width: 1400px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 25px;
}

.msg {
    color: #0F1111;
    padding-left: 20px;
    cursor: pointer;
}

.hero-message a {
    color: #2162A1;
    text-decoration: none;
    cursor: pointer;
}

/* shop-section */

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #FF2DAA;
}

.box {
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: #fffdfd;
    padding: 20px 0px 15px;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin: 20px 14px 20px 14px;
}

p {
    font-size: 1rem;
    font-weight: 300;
}

h2 {
    font-size: 1.3rem;
    padding-left: 20px;
    color: #0f1111;
}

a {
    padding: 0 14px 0 14px;
    text-decoration: none;
    color: #2162A1;
    font-size: 17px;
}

.row-separator {
    width: 100%;
    height: 23px;
    background-color: #FF2DAA;
}

.cut {
    width: 100%;
    height: 25px;
    background-color: #FF2DAA;
}

.line {
    width: 100%;
    height: 23px;
    background-color: #FF2DAA;
}

.pre-footer {
    background-color: white;
    width: 100%;
    height: 150px;
    border: 2px solid #d5d5d5;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content {
    width: 100%;
    height: 700px;
    background-color: #232f3e;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h2 {
    font-size: 24px;
    padding-bottom: 8px;
}

.sign-in {
    background-color: #fab730;
    padding: 5px 11px 5px 11px;
    border-radius: 7px;
    width: 150px;
    height: 40px;
}

.sign-in a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.new-customer {
    text-align: center;
    margin-top: 10px;
}

.start {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.new-customer a:hover {
    color: #2162A1;
}

.sign-in a:hover {
    color: white;
    text-decoration: underline;
}

.back a {
    width: 100%;
    height: 50px;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
    margin-top: 0px;
    margin-left: 0px;
}

.nav1 {
    font-size: 16px;
    color: #dddddd;
    padding: 50px 0px 14px 10px;
}
.anchor{
    padding: 0 10px 0 10px;
    
}

a {
    color: white;
    padding: 0px 0px 10px 10px;
    text-decoration: none;
}

li {
    margin: 6px 0 14px 0;

}

.footer-column {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;

}
.finish{
    background-color: #d5d5d5;
    width: 100%;
    margin-top: 60px;

}
.footer-bottom{
    height: 68px;
    width: 100%;
    margin: 10px 10px 10px 10px;
    display: flex;
   /* justify-content: space-evenly; */
    align-items: center;
}
.footer-logo{
    background-image: url("amazon.png");
    background-size: cover;
    height: 50px;
    width: 100px; 
    margin-left: 300px;
}
.language-select{
    border: 1px solid #888888;
    height: 33px;
    width: 131px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 6px 18px 6px 8px;
    margin: 0 4px 0 100px;
}
i{
    margin-right: 8px;
    color: #dddddd;
    
}
span{
    color: #dddddd;
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
}
.convert{
    border: 1px solid #dddddd;
        height: 33px;
        width: 160px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: 6px 18px 6px 8px;
        margin: 0 4px 0 0;  
}
.country{
 border: 1px solid #dddddd;
    height: 33px;
    width: 160px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 6px 18px 6px 8px;
    margin: 0 4px 0 0;  
}
.condition {
    background-color: #131A22;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}
.condition a{
    padding: 0 15px 0 15px;
}
a:hover{
    color: #dddddd;
}